*{
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
    margin:0px;
    font-family: 'Source Code Pro', monospace;
}
.card-footer {
    display: flex;
    background-color: #f9ea8f;
    background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}
.btn-outline-dark{
    margin-left: 10px;
}
.container {
    min-width: 100%;
    background-color: #f9c5d1;
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
}
.buffer{
    height: 10vh;
}

.list-group:hover {
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.45);
}
.list-group-item {
    background-color: blue;
   
}
.list-group-item:hover {
    cursor: pointer;
}
.btn-outline-danger {
    margin-left: 10px;
}

.card-footer {
   width: 24em;
 
}
.card-footer:hover {
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.45);
}
.container {
    overflow-y: auto;
  
/*     Still the scroll effect on li element not working  */
}
.btn-outline-warning {
    float: right;
}

h1, h2 {
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
}

h1:hover, h2:hover {
   color:aqua;
}

#userinput {
    cursor: pointer;

}

::placeholder {
    color:rgb(86, 141, 141);
}

footer {
    margin-top: 460px;
    font-size: 0.6em;
}


/* li color */
.listColor {
    background-color: #d5fefd;
    background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);

}

/* for toggle */
.done {
    text-decoration: line-through;
    color: green;
    font-weight:700;
}


/* For Responsive */
@media only screen and (max-width: 420px) {
    .card {
        width: 15rem;
    }
   
}

